<div class="card shadow-1">
    <table class="table table-hover">
        <thead>
        <tr>
            <th colspan="3">
                <a class="btn btn-xs btn-primary float-right" href="{{ url('innomedio.email.index') }}">{{ 'innomedio.email.dashboard.view_all'|trans }}</a>
                <h5 class="mb-0">{{ 'innomedio.email.dashboard.latest_emails'|trans }}</h5>
            </th>
        </tr>
        </thead>

        <tbody>
        {% for email in latestEmails(amount|default(5), tag|default(null)) %}
            <tr>
                <td>
                    <h6 class="m-0"><a href="{{ url('innomedio.email.view', {id: email.id}) }}">{{ email.subject }}</a></h6>
                    <small class="text-fader">{{ 'innomedio.email.send_to'|trans }}: {{ email.to }}</small>
                </td>
                <td>{{ email.sent|date("m/d/Y H:i:s") }}</td>
                <td class="text-right"><a class="btn btn-sm btn-bold btn-round btn-default" href="{{ url('innomedio.email.view', {id: email.id}) }}">{{ 'innomedio.backend_theme.global.view'|trans }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>