{% extends "@InnomedioBackendTheme/backend_base.html.twig" %}

{% block content %}
    <div class="main-content mb-60">
        {% if mails %}
            <div class="card">
                <div class="card-body p-0">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>{{ 'innomedio.email.date_sent'|trans }}</th>
                                <th>{{ 'innomedio.email.send_to'|trans }}</th>
                                <th>{{ 'innomedio.email.subject'|trans }}</th>
                                <th>{{ 'innomedio.email.tag'|trans }}</th>
                                <th></th>
                            </tr>
                            </thead>
                        <tbody>

                        {% for mail in mails %}
                            <tr class="item-to-remove{% if mail.errors %} is-warning{% endif %}">
                                <td>
                                    {% if mail.errors %}
                                        <i data-provide="tooltip" data-placement="top" title="{{ 'innomedio.email.mail_has_error'|trans }}" class="ti-alert warning-tooltip"></i>
                                    {% endif %}

                                    {{ mail.sent|date("d/m/Y H:i:s") }}
                                </td>

                                <td>{{ mail.to }}</td>
                                <td>{{ mail.subject }}</td>
                                <td><span class="badge badge-info">{{ mail.tag }}<span></td>

                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="text-lighter" href="#" data-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt rotate-90"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                            <a class="dropdown-item" href="{{ url('innomedio.email.view', {id: mail.id}) }}"><i class="fa fa-fw fa-search"></i> {{ 'innomedio.backend_theme.global.view'|trans }}</a>
                                            {% if is_granted('ROLE_ROOT') %}
                                            <div class="dropdown-divider"></div>
                                            <a class="ajax-remove dropdown-item"
                                               href="{{ url('innomedio.email.remove', {id: mail.id}) }}"
                                            ><i class="fa fa-fw fa-trash"></i> {{ 'innomedio.backend_theme.global.remove'|trans }}</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}