{% extends '@InnomedioBackendTheme/backend_base.html.twig' %}

{% block content %}
    <div class="main-content">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <h4 class="card-title">{{ 'innomedio.backend_theme.data'|trans }}</h4>
                    <div class="card-body">
                        {% if mail.type == 'postmark' %}
                            <div class="row">
                                <div class="col-lg-5"><strong>{{ 'innomedio.email.date_sent'|trans }}</strong></div>
                                <div class="col-lg-7">{{ mail.sent|date("m/d/Y - H:i:s") }}</div>
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-lg-5"><strong>{{ 'innomedio.email.subject'|trans }}</strong></div>
                            <div class="col-lg-7">{{ mail.subject }}</div>
                        </div>

                        <div class="row">
                            <div class="col-lg-5"><strong>{{ 'innomedio.email.send_to'|trans }}</strong></div>
                            <div class="col-lg-7">{{ mail.to }}</div>
                        </div>

                        <div class="row">
                            <div class="col-lg-5"><strong>{{ 'innomedio.email.tag'|trans }}</strong></div>
                            <div class="col-lg-7">{{ mail.tag }}</div>
                        </div>

                        {% if attachments %}
                        <div class="row">
                            <div class="col-lg-5"><strong>{{ 'innomedio.email.attachments'|trans }}</strong></div>
                            <div class="col-lg-7">
                                {% for attachment in attachments %}
                                    <a href="{{ url('innomedio.email.download', {location: attachment.dir|url_encode}) }}" target="_blank">{{ attachment.filename }}</a><br />
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <a class="btn btn-multiline btn-block btn-primary" href="{{ url('innomedio.email.html', {id: mail.id}) }}" data-provide="lity"><i class="fa fa-search fs-20"></i><br>{{ 'innomedio.email.show_email'|trans }}</a>
            </div>

            <div class="col-lg-8">
                {% if mail.headers %}
                    <div class="card">
                        <h4 class="card-title">{{ 'innomedio.email.headers'|trans }}</h4>
                        <div class="card-body">
                            <pre><code>{{ mail.headers|nl2br }}</code></pre>
                        </div>
                    </div>
                {% endif %}

                {% if mail.type == 'postmark' %}
                    <div class="card">
                        <h4 class="card-title">{{ 'innomedio.email.log.title'|trans }}</h4>

                        <div class="media-list media-list-hover media-list-divided">
                            <div class="media media-single">
                                <span class="avatar avatar-sm bg-default"><i class="fa fa-paper-plane"></i></span>
                                <div class="media-body">
                                    <time datetime="{{ mail.sent|date("m/d/Y - H:i:s") }}">{{ mail.sent|date("m/d/Y - H:i:s") }}</time>
                                    <p>{{ 'innomedio.email.log.email_sent'|trans }}</p>
                                </div>
                            </div>

                            {% for item in log %}
                                <div class="media media-single">
                                    <span class="avatar avatar-sm
                                        {% if item.type == 'SpamComplaint' %}
                                            bg-danger
                                        {% elseif item.type == 'Bounce' %}
                                            bg-warning
                                        {% elseif item.type == 'Delivery' %}
                                            bg-info
                                        {% elseif item.type == 'Open' %}
                                            bg-success
                                        {% endif %}
                                    "><i class="fa
                                        {% if item.type == 'SpamComplaint' %}
                                            fa-bug
                                        {% elseif item.type == 'Bounce' %}
                                            fa-times
                                        {% elseif item.type == 'Delivery' %}
                                            fa-envelope
                                        {% elseif item.type == 'Open' %}
                                            fa-check
                                        {% endif %}
                                    "></i></span>
                                    <div class="media-body">
                                        <time datetime="{{ item.date }}">{{ item.date }}</time>
                                        <p>E-mail gebounced:<br />
                                            <span class="opacity-50">The server was unable to deliver your message (ex: unknown user, mailbox not found).</span>
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}

                            {#

                            <div class="media media-single">
                                <span class="avatar avatar-sm bg-danger"><i class="fa fa-times"></i></span>
                                <div class="media-body">
                                    <time datetime="{{ mail.sent|date("m/d/Y - H:i:s") }}">{{ mail.sent|date("m/d/Y - H:i:s") }}</time>
                                    <p>E-mail gebounced:<br />
                                        <span class="opacity-50">The server was unable to deliver your message (ex: unknown user, mailbox not found).</span>
                                    </p>
                                </div>
                            </div>

                            <div class="media media-single">
                                <span class="avatar avatar-sm bg-success"><i class="fa fa-paper-plane"></i></span>
                                <div class="media-body">
                                    <time datetime="{{ mail.sent|date("m/d/Y - H:i:s") }}">{{ mail.sent|date("m/d/Y - H:i:s") }}</time>
                                    <p>E-mail aangekomen</p>
                                </div>
                            </div>

                            #}
                        </div>
                    </div>
                {% endif %}

                {% if mail.errors %}
                    <div class="card">
                        <h4 class="card-title">{{ 'innomedio.email.errors'|trans }}</h4>
                        <div class="card-body">
                            <pre><code>{{ mail.errors|nl2br }}</code></pre>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

