{% extends '@InnomedioBackendTheme/backend_base.html.twig' %}

{% block content %}
    <div class="main-content pb-30">
        {% form_theme form '@InnomedioBackendTheme/form/template-fields.html.twig' %}

        {{ form_start(form, {'action': url('innomedio.email.templates.submit', {id: app.request.get('id')}), 'attr': {'class': 'ajax-form'}}) }}

        {% if form.name is defined %}
            <div class="col-lg-6">
                <div class="card">
                    <h4 class="card-title">Template gegevens <span class="opacity-40 fs-12">(dit is enkel aan te passen als root)</span></h4>

                    <div class="card-body">
                        <div class="form-group text-fader">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                        </div>

                        <div class="form-group text-fader">
                            {{ form_label(form.tag) }}
                            {{ form_widget(form.tag) }}
                        </div>

                        <div class="form-group text-fader">
                            {{ form_label(form.info) }}
                            {{ form_widget(form.info) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="col-lg-{% if form.name is defined %}6{% else %}12{% endif %}">
            {% if form.translations.count > 1 %}
                <div class="card">
                    <ul class="nav nav-tabs">
                        {% for translation in form.translations %}
                            <li class="nav-item">
                                <a class="nav-link{% if loop.first %} active{% endif %}" data-toggle="tab" href="#language-{{ translation.vars.value.language.id }}">{{ translation.vars.value.language.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="tab-content">
                {% for translation in form.translations %}
                    <div class="d-none">
                        {{ form_label(translation.language) }}
                        {{ form_widget(translation.language) }}
                    </div>

                    <div class="tab-pane fade{% if loop.first %} active  show{% endif %}" id="language-{{ translation.vars.value.language.id }}">
                        <div class="row">
                            <div class="col-lg-{% if form.name is defined %}12{% else %}8{% endif %}">
                                <div class="card">
                                    <h4 class="card-title">{{ 'innomedio.backend_theme.data'|trans }}</h4>
                                    <div class="card-body">
                                        <div class="form-group text-fader">
                                            {{ form_label(translation.subject) }}
                                            {{ form_widget(translation.subject) }}
                                        </div>

                                        <div class="form-group text-fader">
                                            {{ form_label(translation.content) }}
                                            {{ form_widget(translation.content) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% if form.name is not defined %}
                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="card-body bg-lighter">
                                            {{ info|raw }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascript %}
    {% include "@InnomedioBackendTheme/form/summernote_config.html.twig" %}
{% endblock %}