{% extends "@InnomedioBackendTheme/backend_base.html.twig" %}

{% block content %}
    <div class="main-content mb-60">
        <div class="card">
            <div class="card-body p-0">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>{{ 'innomedio.backend_theme.global.name'|trans }}</th>
                            {% if is_granted('ROLE_ROOT') %}
                                <th>{{ 'innomedio.backend_theme.global.tag'|trans }}</th>
                            {% endif %}
                            </tr>
                    </thead>

                    <tbody>
                    {% for template in templates %}
                        <tr class="item-to-remove">
                            <td>{{ template.name }}</td>

                            {% if is_granted('ROLE_ROOT') %}
                                <td>{{ template.tag }}</td>
                            {% endif %}

                            <td class="text-right">
                                <div class="dropdown">
                                    <a class="text-lighter" href="#" data-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt rotate-90"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                        <a class="dropdown-item" href="{{ url('innomedio.email.templates.form', {id: template.id}) }}"><i class="fa fa-fw fa-search"></i> {{ 'innomedio.backend_theme.global.edit'|trans }}</a>

                                        {% if is_granted('ROLE_ROOT') %}
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{{ url('innomedio.email.templates.logs', {id: template.id}) }}"><i class="fa fa-fw fa-file-text-o"></i> {{ 'innomedio.backend_theme.global.logs'|trans }}</a>

                                            <a class="ajax-remove dropdown-item"
                                               href="{{ url('innomedio.email.templates.remove', {id: template.id}) }}"
                                            ><i class="fa fa-fw fa-trash"></i> {{ 'innomedio.backend_theme.global.remove'|trans }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_ROOT') %}
        <div class="fab fab-fixed">
            <a class="btn btn-float btn-primary"
               href="{{ url('innomedio.email.templates.form', {id: 0}) }}"
               data-provide="tooltip"
               data-original-title="{{ 'innomedio.backend_theme.global.add'|trans }}"
            ><i class="ti-plus"></i></a>
            </div>
    {% endif %}
{% endblock %}